/* Application-wide Styles */
h1 {
  font-size: 250%;
}
h2, h3 {
  font-weight: lighter;
}
body {
  margin: 2em;
}
/* everywhere else */
* {
  font-family: Cambria, Georgia;
}

a {
  text-decoration: none;
}

.app__title {
  color: #000;
}

.app-button {
  padding: 10px;
  background-color: #f3e1d8;;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.app-button:hover {
  background-color: #f1b493;
}

.app-button-selected {
  background-color: #ef8a53;
}

.nav {
  margin: 15px;
  display: inline;
}

.club-options {
  text-align: center;
}
