<div style="text-align:center">
  <h1 class="app__title">Pick one :P</h1>
  <h4> Current Auth Level: {{currentAuthLevel}} </h4>
</div>
<nav class="nav">
  <a
    class="app-button"
    routerLink="/library"
    routerLinkActive=app-button-selected
  >
    Library
  </a>
</nav>
<nav class="nav">
  <a
    class="app-button"
    routerLink="/readers-club"
    routerLinkActive=app-button-selected
  >
    Reader's club
  </a>
</nav>
<nav class="nav">
  <a
    class="app-button"
    routerLink="/auth"
    routerLinkActive=app-button-selected
  >
    Auth
  </a>
</nav>

<router-outlet></router-outlet>
